
body {  
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: $typography-body-text-size;
  line-height: $typography-body-text-height;
}

html,body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5 {
  font-size   : $typography-size-five;
  line-height : $typography-height-five;
  margin      : 0;
  padding: 0
}

.h1 {
  font-size     : $typography-size-one;
  line-height   : $typography-height-one;
  margin-bottom : $size-m;
}

.h2 {
  font-size     : $typography-size-two;
  line-height   : $typography-height-two;
  margin-bottom : $size-m;
}

.h3 {
  font-size     : $typography-size-three;
  line-height   : $typography-height-three;
  margin-bottom : $size-m;
}

.h4 {
  font-size     : $typography-size-four;
  line-height   : $typography-height-four;
  margin-bottom : $size-s;
}

.h5 {
  font-size     : $typography-size-five;
  line-height   : $typography-height-five;
  margin-bottom : $size-s;
}

.h6 {
  font-size     : $typography-size-six;
  line-height   : $typography-height-six;
  margin-bottom : $size-s;
}

a {
  color: $colors-black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}