@import "../../node_modules/normalize.css/normalize";

$size-xxs : 2px;
$size-xs  : 5px;
$size-s   : 10px;
$size-m   : 20px;
$size-l   : 50px;
$size-xl  : 100px;
$size-xxl : 200px;

$colors-black : #000;
$colors-white : #FFF;
$colors-light-grey : #EEE;
$colors-medium-grey : #CCC;
$colors-dark-grey: #666;

$typography-size-one   : 36px;
$typography-size-two   : 28px;
$typography-size-three : 28px;
$typography-size-four  : 20px;
$typography-size-five  : 16px;
$typography-size-six   : 12px;

$typography-height-one   : $typography-size-one * 1.25; 
$typography-height-two   : $typography-size-two * 1.25;
$typography-height-three : $typography-size-three * 1.25;
$typography-height-four  : $typography-size-four * 1.25;
$typography-height-five  : $typography-size-five * 1.25;
$typography-height-six   : $typography-size-six * 1.25;

$typography-body-text-size   : $typography-size-five;
$typography-body-text-height : $typography-height-five;

body {  
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: $typography-body-text-size;
  line-height: $typography-body-text-height;
}

html,body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5 {
  font-size   : $typography-size-five;
  line-height : $typography-height-five;
  margin      : 0;
  padding: 0
}

.h1 {
  font-size     : $typography-size-one;
  line-height   : $typography-height-one;
  margin-bottom : $size-m;
}

.h2 {
  font-size     : $typography-size-two;
  line-height   : $typography-height-two;
  margin-bottom : $size-m;
}

.h3 {
  font-size     : $typography-size-three;
  line-height   : $typography-height-three;
  margin-bottom : $size-m;
}

.h4 {
  font-size     : $typography-size-four;
  line-height   : $typography-height-four;
  margin-bottom : $size-s;
}

.h5 {
  font-size     : $typography-size-five;
  line-height   : $typography-height-five;
  margin-bottom : $size-s;
}

.h6 {
  font-size     : $typography-size-six;
  line-height   : $typography-height-six;
  margin-bottom : $size-s;
}

a {
  color: $colors-black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


.container {
  padding: $size-m;
}

.content {
}

ul.menu,
ol.menu {
  list-style: none;
  margin-left: 0;
  padding-left:0;
}

.menu__item  {
  position: relative;
  padding: $size-s;
  border: $colors-black solid 1px;
  border-bottom: 0;
  padding-right: 10%;
  
  &:last-child  {
    border-bottom:  $colors-black solid 1px;
  }
  
  a {
    display: block;
  }
  
  &__meta {
    display: inline-block;
    text-align: right;
    position: absolute;
    width: 10%;
    top:0;
    right:0;
    bottom: 0;
  }
}

$grid-size : ($size-xl - $size-xs) * 2;

.grid {
  padding: 0 0 $size-xs $size-xs;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  &__item {
    position: relative;
    left: -$size-xs;
    margin: $size-xs $size-xs 0 0;
    height: $grid-size;
    width : $grid-size;
    background-color: $colors-medium-grey;
    cursor: pointer;
  }
  
  &__mask {
    position: absolute;
    top:0; right:0; bottom: 0; left: 0;
    opacity: 0.75;
    background-color:$colors-black;
    
    .grid__item:hover & {
      opacity: 0
    }
  }
}

.episode-tile {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  
  &__title {
    @extend .h5;
    position: absolute;
    bottom: $size-s;  
    background: $colors-white;
  }
  
  &__date {
    @extend .h6;
    position: absolute;
    bottom: - $size-xs;
    background: $colors-white;    
  }
}

.flag {
  display: inline-block;
  margin-top: $size-xs;
  margin-right: $size-s;
  padding: $size-xs $size-s;
  @extend .h6;
  text-align: center;
  background-color: $colors-light-grey;
  border-radius: $size-s;
  font-style: normal;
  text-transform: uppercase;
  color: $colors-dark-grey;
}

.btn {
  display: inline-block;
  border-radius: $size-s;
  padding: $size-s $size-m;
  background-color: $colors-light-grey;
  border: none;
  outline: none;
  cursor: pointer;
  
  &:hover {
    background-color: $colors-medium-grey;  
    text-decoration: none;

  }
}

.btn-s {
  padding: $size-xs $size-s;
  
  font-size   : $typography-size-six;
  line-height : $typography-height-six;
}

nav {
  margin-bottom: $size-m
}


.form {
  &__label,
  &__input {
    display: block;    
    padding: $size-s $size-m;
    width: 100%;
    outline: 0;
    font-style: normal;
  }
  
  &__input {
    border: $colors-light-grey solid 1px
  }
  &__input:focus{
    border-color: $colors-medium-grey
  }
}