

.btn {
  display: inline-block;
  border-radius: $size-s;
  padding: $size-s $size-m;
  background-color: $colors-light-grey;
  border: none;
  outline: none;
  cursor: pointer;
  
  &:hover {
    background-color: $colors-medium-grey;  
    text-decoration: none;

  }
}

.btn-s {
  padding: $size-xs $size-s;
  
  font-size   : $typography-size-six;
  line-height : $typography-height-six;
}
