.content {
}

.content {
  &__primary,
  &__secondary {
    outline: purple solid 1px
  }
  
  &__primary {
    padding: $size-m;
    margin-bottom: 180px;
    overflow: auto;
  }
  
  &__secondary {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 180px;
  }
}