$grid-size : ($size-xl - $size-xs) * 2;

.grid {  
  @include from-desktop {
    padding: 0 0 $size-xs $size-xs;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  &__item {
    position: relative;
    margin-bottom: $size-xs;
    height: $grid-size;
    width: 100%;
    cursor: pointer;
        
    @include from-desktop {
      background-color: $colors-medium-grey;
      left: -$size-xs;
      margin: $size-xs $size-xs 0 0;
      height: $grid-size;
      width : $grid-size;
    }
  }
  
  &__mask {
    display: block;
    position: absolute;
    top:0; right:0; bottom: 0; left: 0;
    opacity: 0.5;
    background-color:$colors-black;
    
    @include from-desktop {
      opacity: 0.75;
      transition-property: opacity;
      transition-duration: 0.25s;
      transition-timing-function: ease;
      .grid__item:hover & {
        opacity: 0
      }
      
    }
  }
}

.episode-tile {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  color: $colors-black;

  &__title,
  &__date {
    position: absolute;
    background: $colors-white;   
    
    .episode-tile:hover & {
      text-decoration: underline;
    } 
  }
  
  &__title {
    @extend .h5;
    bottom: $size-s;  
  }
  
  &__date {
    @extend .h6;
    bottom: - $size-xs;
    background: $colors-white;    
  }
}