.episode-list {
  
  &--loading {
    background: transparent no-repeat url(/assets/google-load.svg) center 150px;
    min-height: 300px;
    
    .grid {
      opacity: 0.125
    }
  }
}
.episode-details {
  &__image {
    max-width: 500px;
    height: auto;
  }
}